@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&family=Manrope:wght@300;400;500;600;700;800&display=swap");
// SCREEN WIDTH
$break-md: 768px;
$break-lg: 1100px;

// COLORS

$primary: #ffea00;
$primary-hover: #ffea0088;

$red: #dc2f02;

$bg-dark: #010203;
$bg-light: #fff;
$bg-card: #fff;
$bg-card-alt: #343434;
$bg-input: #f0f0f0;
$border-input: #d0d0d0;

$text-light: #111;
$text-dark: #efefef;

$shadow: #11111155;

// FONTS
$font-family: "DM Sans", sans-serif;
