
input {
    margin-bottom: 2rem;
    color: $text-light;
}

input:not(input[type='file']) {
    display: block;
    width: 100%;
    height: 52px;
    background-color: $bg-input;
    border: 1px solid $border-input;
    border-radius: 10px;
    font-family: $font-family;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin-top: 1rem;
    padding: 0 1rem;
}

select {
    margin-bottom: 2rem;
    display: block;
    width: 100%;
    height: 52px;
    background-color: $bg-input;
    color: $text-light;
    border: 1px solid $border-input;
    border-radius: 10px;
    font-family: $font-family;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin-top: 1rem;
    padding: 0 1rem;
}

input[type='file'] {
    width: 100%;
    font-family: $font-family;
    font-size: 16px;
    color: $text-dark;
}

input::file-selector-button {
    background-color: $bg-dark;
    border: 2px solid $text-dark;
    border-radius: 0;
    width: 148px;
    margin-top: 1rem;

    font-family: $font-family;
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.2px;
    color: $text-dark;

    cursor: pointer;
    z-index: 5;

    transition: all 200ms;

    &:hover {
        box-shadow: inset 0 -52px 0 0 $bg-light;
        color: $text-light;
    }
}

textarea {
    margin-bottom: 2rem;
    display: block;
    min-width: 100%;
    max-width: 100%;
    background-color: $bg-input;
    color: $text-light;
    border: 1px solid $border-input;
    border-radius: 10px;
    font-family: $font-family;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin-top: 1rem;
    padding: .5rem 1rem;
}

@media (min-width: $break-lg) {
    input {
        height: 52px;
        padding-left: 1rem;
        text-align: left;
    }
  }