
main {
    padding-top: 64px;
}

section {
    margin-bottom: 6rem;
    padding: 1rem;
}

#shadow-host-companion {
    margin: 0;
    padding: 0;
}

@media (min-width: $break-lg) {
    main {
        margin: auto 10%;
    }
}
